{% extends "base.html" %} {% block content %}
<ul class="clearfix" id="nav-info">
    <li>
        <a href="#">
            <i class="icon-home"></i>
        </a>
    </li>
    <li class="active">
        <a href="#">Quản lý Users</a>
    </li>
</ul>

<div class="clearfix">

    <h4>
        {% if data %} Thông tin User {% else %} Thêm mới User {% endif %}
    </h4>

    <form method="post" action="" id="Form1" class="form-horizontal form-box form-archive" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-box-content">

            {% if data.FullName %}

            <div class="control-group">
                <label for="FullName" class="control-label">FullName</label>
                <div class="controls">
                    <strong>{{ data.FullName }}</strong>
                </div>
            </div>

            {% endif %}

            <div class="control-group">
                <label for="FirstName" class="control-label">FirstName</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="FirstName" name="FirstName" value="{{ data.FirstName }}">
                </div>
            </div>

            <div class="control-group">
                <label for="LastName" class="control-label">LastName</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="LastName" name="LastName" value="{{ data.LastName }}">
                </div>
            </div>

            <div class="control-group">
                <label for="Password" class="control-label">Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="Password" name="Password" value="{{ data.Password }}">
                </div>
            </div>

            <div class="control-group">
                <label for="Birthday" class="control-label">Birthday</label>
                <div class="controls">
                    <input type="date" class="input-xlarge" id="Birthday" name="Birthday" value="{{ data.Birthday }}">
                </div>
            </div>

            <div class="control-group">
                <label for="Hobbies" class="control-label">Hobbies</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="Hobbies" name="Hobbies" value="{{ data.Hobbies }}">
                </div>
            </div>

            <div class="control-group">
                <label for="Description" class="control-label">Description</label>
                <div class="controls">
                    <textarea class="textarea-large ckeditor" id="description-medium" name="Description">{{ data.Description }}</textarea>
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" value="Lưu" name="save" class="btn btn-primary">
                <input type="button" value="Quay lại" onclick=window.location.href="{% url 'demo:index' %}" class="btn btn-danger">
            </div>
        </div>
    </form>
</div>
{% endblock %}