{% extends "base.html" %} {% block content %}

<ul class="clearfix" id="nav-info">
    <li>
        <a href="#">
            <i class="icon-home"></i>
        </a>
    </li>
    <li class="active">
        <a href="#">Quản lý Users</a>
    </li>
</ul>

<div class="clearfix">

    <h4>
        Danh sách Users
    </h4>

    <div class="row-fluid">
        <div class="span6">
            <div style="float: left">
                <a style="margin: 0; line-height: 30px;" class="btn" href="{% url 'demo:create' %}">Thêm mới</a>
            </div>
        </div>
        <div class="span6">
            <form action="" method="get" enctype="multipart/form-data">
                <div class="dataTables_filter" id="example-datatables_filter">
                    <label>
                        <div class="input-prepend">
                            <span class="add-on">
                                <i class="icon-search"></i>
                            </span>
                            <input type="text" name="s" value="" autocomplete="false" placeholder="Tìm kiếm...">
                        </div>
                    </label>
                </div>
            </form>
        </div>
    </div>


    <table class="table table-bordered" style="margin-top: 10px">
        <thead>
            <tr>
                <th style="width: 10%">
                    STT
                </th>
                <th>
                    FullName
                </th>
                <th>
                    Tùy chọn
                </th>
            </tr>
        </thead>

        <tbody>

            {% if data %} {% for user in data %}
            <tr>
                <td>
                    <div>
                        {{user.id}}
                    </div>
                </td>
                <td>
                    <a href="{% url 'demo:edit' user.id %}">
                        {{user.FullName}}
                    </a>
                </td>
                <td>
                    <a href="{% url 'demo:delete' user.id %}" onclick="return confirm('Bạn có chắc muốn xóa ?');">
                        Xóa
                    </a>
                </td>
            </tr>
            {% endfor %} {% else %}

            <tr>
                <td colspan="3">Chưa có dữ liệu</td>
            </tr>

            {% endif %}

        </tbody>
    </table>

</div>

{% endblock %}