{% load static %}

<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Quản Lý</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{% static "a_files/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "a_files/plugins.css" %}">
    <link rel="stylesheet" href="{% static "a_files/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "a_files/main.css" %}">
    <link rel="stylesheet" href="{% static "a_files/style_support.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen.css" %}">
    <script src="{% static "a_files/jquery-1.9.1.js" %}"></script>

    <script> var rootpath = "<?php echo ROOT; ?>";</script>

    <script src="{% static "js/jquery.chosen.min.js" %}" type="text/javascript"></script>

    <script src="{% static "a_files/jquery-ui.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "a_files/jquery-ui.css" %}">
    <script src="{% static "a_files/modernizr-2.6.2-respond-1.1.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "a_files/jquery-1.10.2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "a_files/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "a_files/plugins.js" %}" type="text/javascript"></script>
    <script src="{% static "a_files/ckeditor/ckeditor.js" %}" type="text/javascript"></script>
    <script src="{% static "a_files/main.js" %}" type="text/javascript"></script>

    <style>
        .cke {
            visibility: hidden;
        }
    </style>

</head>

<body>

    <script type="text/javascript">
        $(document).ready(function () {
            var sAct = "#Home"
            $(sAct).attr("class", "active");

            $('select.chosen').chosen();
            $('select.chosen-no-search').chosen({ disable_search: true });
        });
    </script>

    <div id="page-container">

        <header class="navbar navbar-inverse">
            {% include "header.html" %}
        </header>

        <div id="inner-container">
            <aside id="page-sidebar" class="nav-collapse collapse">
                <nav id="primary-nav">
                        {% include "sidebar.html" %}
                </nav>
            </aside>
            <div id="page-content" style="min-height: 560px;">
                {% block content %} {% endblock %}
            </div>
            <footer>
                2018 ©
                <strong>Kim Ý Media</strong> - Developed by
                <strong>
                    <a href="#" target="_blank">TMT</a>
                </strong>
            </footer>
        </div>
    </div>
    <a href="#" id="to-top">
        <i class="icon-chevron-up"></i>
    </a>
</body>

</html>