<div class="navbar-inner remove-radius remove-box-shadow">
    <div class="container-fluid">
        <ul class="nav pull-right visible-phone visible-tablet">
            <li class="divider-vertical remove-margin"></li>
            <li>
                <a href="javascript:void(0)" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-reorder"></i>
                </a>
            </li>
        </ul>

        <a href="#" class="brand">Quản trị viên</a>

        <ul id="widgets" class="nav pull-right">
            <li class="divider-vertical remove-margin"></li>
            <li class="dropdown dropdown-user">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    Administrator
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" role="button" data-toggle="modal">
                            <i class="icon-user"></i>Đổi mật khẩu
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="icon-lock"></i>Đăng xuất
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>