<ul>

    <li>
        <a href="#" class="">
            <i class="icon-star"></i>Trang Chủ
        </a>
    </li>

    <li>
        <a id="Statistic" class="active" href="#">
            <i class="icon-folder-open"></i>Users</a>

        <ul style="display:block;">
            <li>
                <a id="Module" href="{% url 'demo:create' %}">Thêm mới</a>
            </li>
            <li>
                <a id="Groups" href="{% url 'demo:index' %}">Xem tất cả Users</a>
            </li>
        </ul>
    </li>
</ul>